body {
    background-color: rgb(63, 63, 63);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

/********Nav********/
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.nav {
    display: inline-block;
    padding: 75px;
    margin: 0 55px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.nav:hover {
    color: skyblue;
}



/********Header********/
.header {
    border: 3px solid black;
    padding: 100px;
    margin: auto;
    width: 75%;
    height: 600px;
}

.name {
    position: relative;
    top: -100px;
    left: -35px;
    font-size: 100px;
    color: white;
}

.about {
    position: relative;
    top: -100px;
    left: -35px;
    font-size: 30px;
    color: white;
}

.socials {
    position: relative;
    top: -450px;
    left: -345px;
    list-style-type: none;
    text-align: center;
}

.socialLink {
    display: inline-block;
    padding: 15px;
    margin: 0 20px;
    border-radius: 3px;
}

.insta {
    color: white;
    font-size: 5rem;
}

.insta:hover {
    color: skyblue;
}

.github {
    color: white;
    font-size: 5rem;
}

.github:hover {
    color: skyblue;
}

.linkedin {
    color: white;
    font-size: 5rem;
}

.linkedin:hover {
    color: skyblue;
}

.resume {
    border-radius: 8px;
    border: none;
    font-size: 25px;
    padding: 15px 32px;
    position: relative;
    top: -20px;
    text-align: center;
}

.resume:hover {
    background-color: skyblue;
}

img {
    width: 500px;
    height: 550px;
    position: relative;
    left: 785px;
    top: -315px;
    display: block;

}

/********AboutMe********/
.about-me {
    margin-top: 150px;
}

.container {
    display: grid;
    grid-template-columns: 1fr, 3fr;
    gap: 20px;
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.about_title {
    grid-column: 1 / 3;
    grid-row: 1;
}

.about_para {
    grid-column: 1 / 3;
    grid-row: 2;
}

.skills {
    grid-column: 3 / 3;
    grid-row: 1;
    text-align: center;
}

.tech {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    column-gap: 20px;
    grid-column: 3;
    grid-row: 2;
}

.lang {
    margin: 0 10px 5px 20px;
}


@media (max-width: 400px) {
    .container {
        height: 500px;
    }


    .about_title {
        grid-column: 1;
        grid-row: 1;
        text-align: center;
    }

    .about_para {
        grid-column: 1;
        grid-row: 2;
        font-size: calc(5px+20px);
    }

    .skills {
        grid-column: 1;
        grid-row: 3;
    }

    .tech {
        grid-column: 1;
        grid-row: 4;
    }

    .lang {
        margin: 0 5px 0px 10px;
    }
}


/********Experience********/
.experience {
    margin-top: 150px;
    color: white;
}

.exp {
    display: grid;
    justify-content: left;
    grid-column: 1;
    grid-row: 2;
    max-width: fit-content;
    font-size: 20px;
    color: black;
    background-color: white;
    border: gray solid;
}

.exp button {
    border: gray solid;
    border-radius: 5px;
    padding: 20px 10px 20px 10px;
}

.exp button:hover {
    background-color: skyblue;
}

.exp_para {
    width: 50%;
    grid-column: 8;
    grid-row: 2;

}

@media (max-width: 400px) {
    .container {
        height: 500px;
        flex-direction: column;
    }
}


/********Footer********/
footer {
    margin-top: auto;
    text-align: center;
    font-size: 12px;
    color: white;
}